/* Set Poppins as Main Font */
:root * {
  font-family: "Poppins", sans-serif;
}

/* Fix Carousel Images Aspect Ratio */
.carousel img {
  aspect-ratio: 2.46575342466;
}

/* Reset Marker Styles */
#packages ul {
  padding: 0;
  list-style: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
